# Notify andrew-scoppa for all other changes
* @andrew-scoppa

# Notify Atmosera-adv-sec-prep/devs for any files in the 'app' folder or its subfolders
app/**/* @Atmosera-adv-sec-prep/devs

# Notify Atmosera-adv-sec-prep/sec-man if '.github/dependabot.yml' is affected
.github/dependabot.yml @Atmosera-adv-sec-prep/sec-man

# Protect the CODEOWNERS file itself
CODEOWNERS @andrew-scoppa